mixin deal(deals)
    a(href=`/deal/${deals.id}`).deal-mixin
        div.deal-mixin__thumb
            img(src="/" + deals.avatarUrl)
        div.deal-mixin__data
            span.deal-mixin__title #{deals.title}
            span.deal-mixin__address=deals.address  
            span.deal-mixin__price #{deals.price}
            span.deal-mixin__description  #{deals.description}

        
